/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.jfx-button {
    -fx-padding: 0.7em 0.57em;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(77.0,102.0,204.0);
    -fx-text-fill: WHITE;
}

AnchorPane{
    -fx-background-color: #B1E5FA
}


.jfx-text-field {
      -fx-background-color: #B1E5FA;
    -fx-prompt-text-fill: #0f5e59;
    -fx-prompt-text-font-size: 50px
}

.jfx-text-field Pane{
      -fx-background-color: #B1E5FA;
    -fx-prompt-text-fill: #0f5e59;
    -fx-prompt-text-font-size: 50px
}




Pane{
    -fx-background-color: #B1E5FA
}
